.wrapLeft{
    width:auto;
    height:1700px;
    background-image: url('Images/greece.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    font-size: 1.2em;
}

.jumbotron{
  background-color: white;
  opacity: 0.7;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;

}
.wrapContent{
    width: auto;
    height: auto;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    margin: 10px;
}

h4{
  text-align: left;
}

#enterText{
  height:60px;
  opacity: 0.7;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

#enterBtn{
  width:80px;
  height:60px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 3px;

}

.done{
    text-decoration:line-through;
    color: grey;
}

.list-group{
margin-top: 10px;
margin-left: 10px;

}

.list-group-item{
  margin-top: 10px;
  margin-left: 10px;
}

.editBox{
  width:auto;
}

.btn-danger {
  margin: 0 160px 10px 20px;
}
