<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Build Your To-do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="todo.js" type="text/javascript"> </script>
    <link rel="stylesheet" type="text/css" href="todo.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body ng-app="myList">
  <div ng-controller="mainCtrl"class=" row col-md-12 wrapLeft">
    <div class="jumbotron">
          <h1>The Best Simple To do List</h1>
          <p>  A Simple To do list here....</p>
          <p>
              <a class="btn btn-primary btn-lg" href="#" role="button">
                  Check out my other sample works</a>
          </p>

        <p> <span class="glyphicon glyphicon-envelope"> </span> <a href ="mailto:hfusyuki@gmail.com">Contact me</a></p>


        </div>

    <div class="wrapContent">
      <div class ="col-lg-6 col-lg-offset-2 input-group ">
        <form name ="frm"  ng-submit="add()">
              <span class="input-group-btn">
                  <input type="text" class="form-control" id="enterText" ng-model="items" placeholder="Enter your TO DO  items..."required/>
                   <button class ="btn btn-primary"  id="enterBtn" ng-diabled="frm.$invalid"> Enter </button>
                 </span>
               </form>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" ng-repeat="item in itemList">
                    <input type="checkbox" ng-model="item.done" class="list-group-item-info"/>
                        <span ng-class="{'done':item.done}">
                            <span ng-click="toEdit()" ng-model="item.title" contentEditable="false">
                                {{item.title}}
                            </span>
                           </span>
                        </li>
                    </ul>
                        <button class="btn-danger btn-lg " ng-click="clearCompleted()"> Clear Completed Items</button>
             </div>
        </div>
    </div>
</div>
</body>
</html>
